@import url('http://fonts.cdnfonts.com/css/anurati');
body{
    background-color: #12121c;
    font-family: 'Roboto', sans-serif;
}
header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.hamburger{
    text-align: right;
    cursor: pointer;
    font-size: 20px;
}
.hr2, .hr3{
    margin-top: -19px;
}
section{
    display: flex;
    flex-flow: column;
}
.img-robo{
    align-self: center;
    z-index: 1;
    margin-top: -19px;
    display: flex;
}
.red-blur{
    background-color: red;
    width: 150px;
    border-radius: 100%;
    height: 200px;
    align-self: center;
    box-shadow: 0 0 14em red;
    margin-bottom: -200px;
}
.blue-blur{
    width: 169px;
    border-radius: 100%;
    height: 200px;
    align-self: center;
    box-shadow: -6px 0 5em #fff;
    margin-bottom: -200px;
}
.txt-bem, .txt-vindo{
    font-size: 60px;
    margin-top: 77px;
    font-family: 'Anurati', sans-serif;
    text-shadow: 5px 8px 19px #3a3a3a;
                                                
}
.txt-bem{
    margin-left: 40px;
    margin-right: -116px;
}
.txt-vindo{
    margin-left: -130px;
}
.box-login{
    background-color: #fff;
    height: 432px;
    width: 330px;
    border-radius: 15px;
    box-shadow: 5px 8px 19px #3a3a3a;
    align-self: center;
    margin-top: -161px;
}
.box-register{
    height: 525px !important;
}
.title{
    text-align: center;
    margin-top: 70px;
}
.inputs{
    padding: 76px;
    margin-top: -53px;
}
.username, .password, .email{
    border-block-start: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #efe3e3;
    padding-top: 16px;
}
.esqueceu-senha{
    text-align: right;
    font-size: 9px; 
}
.esqueceu-senha a{
    text-decoration: none;
    color: #6d6868;
}

.botao-login, .botao-login-erro{
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 15px;
    height: 36px;
    margin-top: 27px;
    cursor: pointer;
}
.botao-login{
    box-shadow: 5px 8px 19px #4fb4e6;
    background-color: #05abff;
}
.botao-login-erro{
    background-color: red;
    box-shadow: 5px 8px 19px #ff0101;
}
.create-account{
    font-size: 10px;
    text-align: center;
    margin-top: 25px;
}
.create-account a{
    text-decoration: none;
}
footer{
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}
footer a{
    text-decoration: none;
    color: #fff;
}
.msg-erro{
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
    width: 330px;
    border-radius: 15px;
   align-self: center;
   height: 40px;
   align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,0.8015405991498161) 0%, rgba(36,36,55,1) 100%, rgba(0,212,255,1) 100%);
}

/*********responsividade**********/

@media screen and (max-width: 320px), (max-width: 375px), (max-width: 425px){
    .img-robo img{
        width: 330px;
        margin-left: -15px;
    }
    .box-login{
        width: 289px;
        margin-top: -106px;
    }
    .title{
        font-size: 10.5px;
        margin-top: 50px;
    }
    .username, .password, .email{
        padding-top: 0px;
        width: 133px;
    }
    .create-account {
        font-size: 13px;
    }
    .esqueceu-senha {
        font-size: 12px;
    }
    .red-blur{
        width: 110px;
    }
    .inputs{
        margin-top: -40px;
    }
}





